{% extends 'base.html' %}


{% block content %}


<div class="bg_image">
    <div class="blured_bg_image">

        <div class="header">
            <div class="logo">
                <h2><a href="{{ url_for('index') }} "><span>C</span>itly</a></h2>
            </div>

            <div class="header_btns">
                <a href=" {{ url_for('list_of_links') }} ">Links</a>
                <a href=" {{ url_for('logout') }} ">Logout</a>
            </div>
        </div>

        <div class="get_url_form">
            <form action="" method="POST">
                <input type="text" name="original_url" placeholder="Shorten your url" required>
                <input type="submit" value="Shorten">
            </form>
        </div>

        <div class="state_table">
            <table>
                <tr>
                    <th>Original Url</th>
                    <th>Shorten Url</th>
                    <th>Visite</th>
                    <th>Remove</th>
                </tr>

                {% for link in links %}
                <tr>
                    <td>{{link.original_url|truncate(40, True)}}</td>
                    <td>{{url_for('redirect_to_url', short_url=link.short_url, _external=True)}}</td>
                    <td> {{link.visite}} </td>
                    <td> <a href=" {{ url_for('remove_url', id=link.id) }} "><span class="fas fa-trash" onclick="return confirm('Are you sure you want to deleted?') "></span></a> </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="footer">
            Copyright 2021
        </div>

    </div>
</div>


{% endblock %}