<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Url Shortner</title>
    {% endif %}
</head>
<body>
    <div class="bg_image">

        <div class="header">
            <div class="logo">
                <h2><span>C</span>itly</h2>
            </div>
            
            <div class="header_btns">
                <a href="#">Log in</a>
                <a href="#">Sign up</a>
            </div>
        </div>

        <div class="main_content">
            <h1>Short links, big results</h1>
            <p>A URL shortener built with powerful tools to help you grow and protect your brand.</p>
            <a href="#">Get Started for Free</a>
        </div>
    </div>
    
</body>
</html>