{% extends 'base.html' %}


{% block content %}


<div class="bg_image">
    <div class="blured_bg_image">

        <div class="header">
            <div class="logo">
                <h2><a href="{{ url_for('index') }} "><span>C</span>itly</a></h2>
            </div>
    
            <div class="header_btns">
    
                {% if current_user.is_anonymous %}
                <a href=" {{ url_for('login') }} ">Log in</a>
                <a href=" {{ url_for('registration') }} ">Sign up</a>
                {% else %}
                <a href=" {{ url_for('add_link') }} ">Add Link</a>
                <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </div>
        </div>

        <div class="register_form">
            <h1>Registration</h1>
            <form action="" method="POST">
                <input type="text" name="username" placeholder="Enter username" required>
                <input type="email" name="email" placeholder="Enter email" required>
                <input type="password" name="password" placeholder="Enter password" required>
                <input type="password" name="repeatpassword" placeholder="Repeat password" required>
                <input type="submit" value="Register">
            </form>

            <div class="new_user">
                <span style="color: rgb(248, 206, 66);">Already Register? </span> <a href=" {{ url_for('login') }} " style="color: #f2f2f2;">login now</a>
            </div>
        </div>

    </div>
</div>


{% endblock %}